<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<!--index.html 고유 CSS 추가-->
<th:block layout:fragment="css">
    <!--<link th:href="@{/css/page/home.css}" rel="stylesheet"></script>-->
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</th:block>
<!--index.html 고유 스크립트 추가-->
<th:block layout:fragment="script">
    <!--<script th:src="@{/js/page/home.js}"></script>-->
</th:block>
<!--Content-->
<div layout:fragment="content">
    <div class="container">
        <form class="form-signin" method="post" action="/auth/login">
            <h2 class="form-signin-heading">Please sign in</h2>
            <p>
                <input type="text" id="username" name="username" class="form-control" placeholder="ID" required autofocus>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </p>
        </form>
    </div>
</div>
</html>