<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--    layout:decorate="~{layouts/default_layout}">-->
<!--<head>-->
<!--    <title>test layout</title>-->
<!--    &lt;!&ndash;index.html 고유 CSS 추가&ndash;&gt;-->
<!--    &lt;!&ndash;<script th:src="@{/css/page/home.css}"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;index.html 고유 스크립트 추가&ndash;&gt;-->
<!--    &lt;!&ndash;<script th:src="@{/js/page/home.js}"></script>&ndash;&gt;-->
<!--</head>-->
<!--    &lt;!&ndash;Content&ndash;&gt;-->
<!--<div layout:fragment="content">-->
<!--    <h1>Content</h1>-->
<!--</div>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Login page</h1>
<p>Example administrator: jim / demo</p>
<p>Example user: bob / demo</p>
<p>Example user and administrator: ted / demo</p>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/page/test.html}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
<p><a href="../index.html" th:href="@{/page/index.html}">Back to home page</a></p>
</body>
</html>