<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.og"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- sbb CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <!--content script-->
    <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/chart.js/4.3.3/dist/chart.umd.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
<!--    <script th:src="@{/assets/demo/chart-area-demo.js}"></script>-->
<!--    <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>-->
<!--    <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js}" crossorigin="anonymous"></script>-->
<!--    <script th:src="@{/js/datatables-simple-demo.js}"></script>-->
</head>
<body>
    <!--header fragement 사용-->
    <th:block th:replace="page/fragments/header :: headerFragment"></th:block>

    <div id="layoutSidenav_nav">
    <!--sidebar fragment 사용-->
        <th:block th:replace="page/fragments/sidebar :: sidebarFragment"></th:block>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!--content fragment 사용-->
            <th:block layout:fragment="content"></th:block>
        </main>
        <!--footer fragment 사용-->
        <th:block th:replace="page/fragments/footer :: footerFragment"></th:block>
    </div>
</body>
</html>