<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.og"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- SBB CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
<!--    side nav-->
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body class="sb-nav-fixed">
    <!--content script-->
    <!--topnav-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
    <!--    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>-->
    <!--sidenav-->
    <script th:src="@{/js/scripts.js}"></script>

    <!--header fragement 사용-->
    <th:block th:replace="page/fragments/header :: headerFragment"></th:block>

    <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
    <!--sidebar fragment 사용-->
        <th:block th:replace="page/fragments/sidebar :: sidebarFragment"></th:block>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!--content fragment 사용-->
            <th:block layout:fragment="content"></th:block>
        </main>
        <!--footer fragment 사용-->
        <th:block th:replace="page/fragments/footer :: footerFragment"></th:block>
    </div>
    </div>
    <!-- content script -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>